

<div id="footer" class="grid text-center bg-secondary-subtle" style="margin-top: 100px;">
    <div class="g-col-6">
        <i class="fa-brands fa-square-facebook fa-xl icons" style="color: #525252;"></i>
        <i class="fa-brands fa-instagram fa-xl icons" style="color: #525252;"></i>
        <i class="fa-brands fa-snapchat fa-xl icons" style="color: #525252;"></i>
        <i class="fa-brands fa-pinterest-p fa-xl icons" style="color: #525252;"></i>
        <i class="fa-brands fa-twitter fa-xl icons" style="color: #525252;"></i>
        <i class="fa-brands fa-linkedin-in fa-xl icons" style="color: #525252;"></i>
    </div>
    <div class="g-col-6 text-dark" style="margin-top: 50px;">
        Powered by noura
    </div>
    <div style="visibility: hidden;;"><pre>
        h
        <h1>h</h1>
    </pre></div>
</div>
