/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://kit.fontawesome.com/296b8e4260.js");
*{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
}
